// Dark Mode
.dark-enabled {
// Define a custom dark mode mixin
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@include dark-mode {
	
		background-color: $black !important;
		background: $black !important;
		color:$white;
	

	.off-canvas{
		background-color: $black !important;
	}
	.off-canvas>ul.menu a{
		 color: $white !important;
	}

}
}