// Page header
.front-hero {
  position: relative;

  .marketing {
    @include xy-grid-container();
    @include xy-grid;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  @include breakpoint(small) {
    background-size: cover;
    background-position: bottom;
    height: rem-calc(290);
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-size: cover;
    background-position: center;
    height: rem-calc(400);

  }

  @include breakpoint(large) {
    background-size: cover;
    background-position: center;
    height: rem-calc(580);

  }

  @include breakpoint(xlarge) {
    background-size: cover;
    background-position: center;
    height: rem-calc(780);

  }

  .tagline {
    background-color: rgba($white, 0.75);
    position: relative;
    height: 100%;

    @include breakpoint(small) {
      @include xy-cell(7);
      padding-top: 6rem;
    }

    @include breakpoint(medium) {
      @include xy-cell(4.5);
      padding-top: 10rem;
    }

    @include breakpoint(large) {
      @include xy-cell(4);
      padding-top: 14rem;
    }
  }

  .tagline:before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    /* Extend half the viewport width */
    z-index: 1;
    /* Ensure it appears behind the content */
    background-color: inherit;
    /* Matches the block's background color */
    left: -50vw;

  }

  h1 {
    color: $black;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Place video below the overlay */
  }
}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;
  @include flex-align($x:center, $y:top);

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);

    }
  }
}