.main-container {
  @include xy-grid-container;
}
.main-grid {
  @include xy-grid();
  margin-top: 0;

  @include breakpoint(medium) {
    margin-top: 0;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
.grecaptcha-badge { 
  visibility: hidden;
}
h1,
.h1 {
  font-size: var(--font-h1);
  line-height: 1.1;
}

h2,
.h2 {
  font-size: var(--font-h2);
  line-height: 1.2;
}

h3,
.h3 {
  font-size: var(--font-h3);
  line-height: 1.2;
}

h4,
.h4 {
  font-size: var(--font-h4);

}

h5,
.h5 {
  font-size: var(--font-h5);
}

h6,
.h6 {
  font-size: var(--font-h6);
}

p {
  font-size: var(--font-p);
  line-height: 1.4;
}
